<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.miri.cardj"
    android:versionName="light"
    android:versionCode="2">
    <queries>
        <package android:name="com.google.android.googlequicksearchbox"/>
    </queries>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/miri"
        android:label="MiRi CarDj"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpeakToText">
        <activity android:name="com.miri.cardj.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter tools:ignore="ExtraText">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>